.collapse-prevention::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

#container-header {
  text-align: center;
}
#container-mystery-liquid {
  display: inline-block;
  width: 200px;
  height: 50px;
}
#container-power {
  display: inline-block;
  width: 200px;
  height: 50px;
}
