:root {
  --color-background: hsl(0, 0%, 90%);
  --color-text: hsl(200, 25%, 20%);
}

:root.debug * {
  outline: 1px solid red;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
}
