:root {
  --color-background: hsl(0, 0%, 90%);
  --color-text: hsl(200, 25%, 20%);
}

:root.debug * {
  outline: 1px solid red;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
}

.hidden {
  display: none;
  visibility: hidden;
}

#console-public {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 80%);
  border: 1px solid hsl(0, 0%, 50%);
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
}
#console-private {
  background-color: hsl(0, 0%, 10%);
  color: hsl(0, 100%, 80%);
  border: 1px solid hsl(0, 0%, 50%);
  font-family: monospace;
  font-size: 12px;
  overflow: auto;
}
